
<div class="row">
    <div class="col-6">
        <input type="button" class="btn-primary btn w-100" value="Edit" />
    </div>
    <div class="col-6">
        <input type="button" class="btn-outline-danger btn w-100" value="Delete" />
    </div>
</div>

@code {

    [Parameter]
    public bool IsActive { get; set; }

}
