@page "/learnblazor/bindprop"
@using BlazorECommerceWeb_Shared

<h3>Product</h3>
<ul>
    <li>Id: @_product.Id</li>
    <li>Name: @_product.Name</li>
    <li>Is Active: @_product.IsActive</li>
</ul>

@code {
    Product _product = new()
        {
            Id = 1,
            Name = "Rose Candle",
            IsActive = true
        };
}
