@page "/learnblazor/demoproduct"

<h2>Demo Product</h2>

<p>Favourites total: @SelectedFavouriteCount</p>
<p>Last selected product: @LastSelectedProductName</p>

<div class="row border p-2 mt-2 bg-light">
    <div class="row">
        @foreach (var prod in _productLists)
        {
            <_IndividualProduct Product="prod"
                                OnFavouriteUpdated="FavouriteCountUpudate"
                                OnSelectedProductChanged="SelectedProductNameChanged">
                <FirstFragment>#1</FirstFragment>
                <SecondFragment>#2</SecondFragment>
            </_IndividualProduct>
        }
    </div>
</div>



@code {
    List<Product> _productLists = new();

    private int SelectedFavouriteCount { get; set; } = 0;
    private string LastSelectedProductName { get; set; } = string.Empty;


    protected override void OnInitialized()
    {
        AddProducts();
    }

    void AddProducts()
    {
        _productLists.Add(new()
            {
                Id = 1,
                Name = "Rose Candle",
                Price = 9.50m,
                IsActive = true,
                ProductProperties = new List<ProductProperty>()
            {
                new () { Id = 1, Key="Color", Value="Black"},
                new () { Id = 2, Key="Flavor", Value="Rose Jasmine"},
                new () { Id = 3, Key="Size", Value="20oz"},
            }
            });

        _productLists.Add(new()
            {
                Id = 2,
                Name = "Midnight Blaze",
                IsActive = false,

                Price = 10.99m,
                ProductProperties = new List<ProductProperty>()
                {
                    new ProductProperty { Id = 1, Key = "Flavor", Value = "Rose"},
                    new ProductProperty { Id = 2, Key = "Size", Value = "20oz"},
                    new ProductProperty { Id = 3, Key = "Color", Value="Purple" }
                }
            });

        _productLists.Add(new()
            {
                Id = 3,
                Name = "Blossom Lily",
                IsActive = true,
                Price = 13.99m,
                ProductProperties = new List<ProductProperty>()
                {
                    new ProductProperty { Id = 1, Key = "Flavor", Value = "Lily" },
                    new ProductProperty { Id = 2, Key = "Size", Value = "18oz" },
                    new ProductProperty { Id = 3,Key = "Color",Value = "White"}
                }
            });
    }


    void FavouriteCountUpudate(bool isSelected)
    {
        if (isSelected)
        {
            SelectedFavouriteCount++;
        }
        else
        {
            SelectedFavouriteCount--;
        }
    }

    void SelectedProductNameChanged(string productName)
    {
        LastSelectedProductName = productName;
    }
}
