@page "/learnBlazor/parentComponent"

<h3>Parent/Child Relation</h3>

<CascadingValue Value="@MessageForGrandChild" Name="Message">
    <CascadingValue Value="@luckyNumber" Name="LuckyNumber">
        <_ChildComponent title="This title is passed as parameter from parent component"
                         OnButtonClicked="ShowMessage">
            <ChildContent>Render fragment from Parent! Woah!</ChildContent>
            <DangerChildContent>Danger child content</DangerChildContent>
        </_ChildComponent>


        <_ChildComponent title="This is second child component"
                         OnButtonClicked="ShowMessage">
        </_ChildComponent>
    </CascadingValue>
</CascadingValue>
<br />
<p>@_messageText</p>
<br />

<_AnotherChildComponent placeholder="Enter your name from Parent"></_AnotherChildComponent>



@code {
    string MessageForGrandChild = "this message is from your grand parent (ParentComponent)";
    int luckyNumber = 7;
    // public Dictionary<string, object> InputAttributesFromParent { get; set; } = new Dictionary<string, object>(){
    //     { "required", "required"},
    //     { "placeholder", "Enter your name from Parent" }
    //     { "maxlength", 5},
    // };

    string _messageText { get; set; } = string.Empty;

    void ShowMessage()
    {
        _messageText = "Button clicked from Child Component";
    }

}
